version: '2.4'

volumes:
  ignition-data: {}
  ignition-logs: {}
  ignition-modules: {}

services:
  ignition:
    build: .
    image: ignition-rpi5-custom:8.3.1
    privileged: true
    ports:
      - '8088:8088'
      - '8043:8043'
      - '8044:8044'
      - '8000:8000'
    restart: always
    volumes:
      - ignition-data:/opt/ignition/data
      - ignition-logs:/opt/ignition/logs
      - ignition-modules:/opt/ignition/user-lib/modules
    command: [ "/opt/ignition/startup.sh" ]

  seed-modules:
    image: alpine
    restart: "no"
    command: sh -c "mkdir -p /modules && cp /seed/*.modl /modules/ || true"
    volumes:
      - ignition-modules:/modules
      - ./modules:/seed